{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if not debug %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-85PG4VK6WJ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-85PG4VK6WJ');
        </script>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Verification Code</title>
    <link rel="stylesheet" href="{% static 'password_reset/password_reset.css' %}">


</head>
<body>
    <div class="container">
        <h1>Reset Password</h1>

        <!-- Display Django messages as popups -->
        <div id="message-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="popup-message {{ message.tags }}">
                        {{ message }}
                        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <form method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
            <button type="submit">Send Code</button>
        </form>
    </div>
    <script>
    window.addEventListener('DOMContentLoaded', () => {
        const messages = document.querySelectorAll('.popup-message');
        messages.forEach(msg => {
            setTimeout(() => {
                msg.style.display = 'none';
            }, 5000); // hide after 5 seconds
        });
    });
</script>

</body>


</html>