{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% if not debug %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-85PG4VK6WJ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-85PG4VK6WJ');
        </script>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'password_reset/reset_password.css' %}">

</head>

<body>
    <div class="container">
        <h1>Reset Password</h1>

        <!-- Display Django messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <label for="password">New Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter new password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>

</html>