<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Join Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'room/join_room.css' %}">
</head>

<body>
    <div class="container">
        <h2>Join Room</h2>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <label for="room_id">Room ID:</label>
            <div class="field-group">
                <input type="text" id="room_id" name="room_id" required placeholder="Enter Room ID">
            </div>

            <label for="password">Password:</label>
            <div class="field-group">
                <input type="password" id="password" name="password" required placeholder="Enter Password">
            </div>

            <button type="submit">Join Room</button>
        </form>
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', function () {
            const roomID = document.getElementById("room_id").value;
            const password = document.getElementById("password").value;
            sessionStorage.setItem("room_id", roomID);
            sessionStorage.setItem("password", password);
        });
    </script>
</body>

</html>