{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% if not debug %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-85PG4VK6WJ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-85PG4VK6WJ');
        </script>
    {% endif %}

    <meta charset="UTF-8">
    <title>Wait for Players</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'waitforplayers/waitforplayers.css' %}">
</head>

<body>
    <div class="container">
        <h1>Waiting Room</h1>
        <p style="text-align: center;">Room ID: <span id="roomIdDisplay"></span></p>
        <h2>Players in Room</h2>
        <h1 id="error"></h1>
        <ul id="playerList"></ul>
        <h2>Select Your Game</h2>
        <div id="gameListContainer" class="game-cards-container"></div>
        <h2>Coming soon</h2>
        <div id="gameListContainer-coming-soon" class="game-cards-container"></div>
        <button id="startGameBtn"
            style="display: none; margin-top: 20px; padding: 10px 30px; background-color: #4CAF50; color: white; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">
            Start</button>

        <h2 id="countdown"
            style="display: none; text-align: center; font-size: 28px; color: #4CAF50; margin-top: 20px;"></h2>
    </div>
    <script >
         
        window.addEventListener("pageshow", function (event) {
            if (event.persisted) window.location.reload();
        });

        const roomId = sessionStorage.getItem("room_id");
        let username = 'Guest';
        const password = sessionStorage.getItem("password");
        document.getElementById("roomIdDisplay").textContent = roomId || "N/A";

        const urls = {
            currentUserUrl: "{% url 'current_user' %}"  // replace with actual endpoint
        };

        function getJWTToken() {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                const [key, value] = cookie.trim().split('=');
                if (key === 'jwt') {
                    return decodeURIComponent(value);
                }
            }
            return null;
        }

        async function checkAuthAndInit() {
            const token = getJWTToken();
            if (!token) {
                console.log("JWT not found in cookies.");
                window.location.href = "{% url 'account:login' %}";
                return;
            }

            try {
                const response = await fetch(urls.currentUserUrl, {
                    method: "GET",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                        "Content-Type": "application/json"
                    }
                });

                if (response.ok) {
                    const data = await response.json();
                    username = data.username;
                    initWebSocket();
                } else {
                    console.warn("Token invalid or expired");
                    window.location.href = "{% url 'account:login' %}";
                }
            } catch (error) {
                console.error("Auth check failed:", error);
                window.location.href = "{% url 'account:login' %}";
            }
        }

        checkAuthAndInit();

        function logout() {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                const [key] = cookie.trim().split('=');
                document.cookie = `${key}=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC;`;
            }
            location.reload();
        }

        function initWebSocket() {
            let isadminpage_updated = false;
            let selectedgamecard = null;
            let socket;
            const countdownElement = document.getElementById("countdown");

            function startCountdown(data) {
                const owner = sessionStorage.getItem("owner");
                let counter = 3;
                const countdownElement = document.getElementById("countdown");
                countdownElement.style.display = "block";
                countdownElement.textContent = counter;
                const gamePageURL = data.redirect_url;

                if (username === owner) {
                    countdownElement.textContent = "0";
                    window.location.href = "{% url 'waitforplayers' %}?gamePage=" + encodeURIComponent(gamePageURL);
                } else {
                    const interval = setInterval(() => {
                        counter--;
                        countdownElement.textContent = counter;
                        if (counter === 0) {
                            clearInterval(interval);
                            window.location.href = "{% url 'waitforplayers' %}?gamePage=" + encodeURIComponent(gamePageURL);
                        }
                    }, 1000);

                }
            }



            if (!roomId || !username || !password) {
                window.location.href = "{% url 'account:login' %}";
            } else {
                const protocol = window.location.protocol === "https:" ? "wss" : "ws";
                const token = getJWTToken();

                socket = new WebSocket(
                    `${protocol}://${window.location.host}/ws/wait/${roomId}/?username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}&token=${token}`
                );



                const ul = document.getElementById("playerList");

                const updatePlayerList = (players) => {
                    ul.innerHTML = "";
                    players.forEach(player => {
                        const li = document.createElement("li");
                        li.textContent = player;
                        ul.appendChild(li);
                    });
                };

                const gameListContainer = document.getElementById("gameListContainer");

                function updateGameList(games) {
                    gameListContainer.innerHTML = "";
                    const owner = sessionStorage.getItem("owner");

                    games.forEach(game => {
                        const card = document.createElement("div");
                        card.classList.add("game-card");
                        card.textContent = game;

                        if (username === owner) {
                            card.addEventListener("click", () => {
                                document.querySelectorAll(".game-card").forEach(c => c.classList.remove("selected"));
                                card.classList.add("selected");
                                selectedgamecard = game;

                                if (socket && socket.readyState === WebSocket.OPEN) {
                                    socket.send(JSON.stringify({
                                        type: "game_selected",
                                        room_id: roomId,
                                        username: username,
                                        selected_game: selectedgamecard
                                    }));
                                }
                            });
                        }

                        gameListContainer.appendChild(card);
                    });
                }

                // update coming soon game list:
                const gameListContainer_coming_soon = document.getElementById("gameListContainer-coming-soon");

                function updateComingSoonGameList(games) {
                    gameListContainer_coming_soon.innerHTML = "";
                    const owner = sessionStorage.getItem("owner");

                    games.forEach(game => {
                        const card = document.createElement("div");
                        card.classList.add("game-card");
                        card.textContent = game;
                        // make the element non clickable
                        card.style.pointerEvents = "none";
                        card.style.opacity = "0.5";

                        gameListContainer_coming_soon.appendChild(card);
                    });
                }

                socket.onmessage = function (event) {
                    const data = JSON.parse(event.data);

                    if (data.type === "players_update" && Array.isArray(data.players)) {
                        console.log("players_lst:", data.players);

                        updatePlayerList(data.players);

                        if (data.error) {
                            document.getElementById("error").innerText = data.error;
                        }
                        if (data.owner) {
                            sessionStorage.setItem('owner', data.owner);
                        }
                        if (data.selected_game) {
                            const selectedGame = data.selected_game;
                            const owner = sessionStorage.getItem("owner");

                            setTimeout(() => {
                                document.querySelectorAll(".game-card").forEach(c => {
                                    c.classList.toggle("selected", c.textContent.trim().toLowerCase() === selectedGame.toLowerCase());
                                    selectedgamecard = selectedGame;
                                });
                            }, 100); // delay in ms
                        }

                    }

                    if (data.error) {
                        document.getElementById("error").innerText = data.error;
                    }

                    if (data.owner) {
                        sessionStorage.setItem('owner', data.owner);
                        document.getElementById("startGameBtn").style.display =
                            username === data.owner ? "block" : "none";
                    }


                    if (data.type === "game_started") {
                        startCountdown(data);
                    }

                    if (data.gamelist) {
                        updateGameList(data.gamelist);
                        if (data.owner === username && !isadminpage_updated) {
                            isadminpage_updated = true;
                        }
                        if (data.coming_soon_gamelist) {
                            updateComingSoonGameList(data.coming_soon_gamelist);
                        }
                    }

                    if (data.selected_game) {
                        const selectedGame = data.selected_game;
                        const owner = sessionStorage.getItem("owner");

                        if (username !== owner) {
                            document.querySelectorAll(".game-card").forEach(c => {
                                c.classList.toggle("selected", c.textContent === selectedGame);
                            });
                        }
                    }
                };

                socket.onopen = () => console.log("WebSocket connected.");
                socket.onclose = (event) => {
                    console.warn("WebSocket closed:", event);
                    // Optional: handle reconnection logic here
                };

                document.getElementById("startGameBtn").addEventListener("click", () => {
                    if (selectedgamecard) {
                        socket.send(JSON.stringify({
                            type: "start_game",
                            room_id: roomId,
                            selected_game: selectedgamecard
                        }));
                    } else {
                        document.getElementById("error").innerText = "Please select a game to start.";
                    }
                });
            }
        }
    </script>

</body>

</html>